.overlay{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.987);
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}