.overlay{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.987);
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.serviceBox{
  display: flex;
  align-items: center;
  /* background-color: bisque; */
}
.Consultingservicesbox:hover .Consultingservicesblock{
display: flex;
}
.Consultingservicesblock{
  display: none;
}

.servicesBlock {
  width: 60vw;
  /* min-height: 40vh; */
  /* background-color: white; */
  position: absolute;
  right: -8%;
  top: 100%;
  display: none;
  opacity: 0; 
  transition: opacity 0.3s ease-in-out; 

}
.serviceContainer{
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  padding: 1rem;
  /* align-items: center; */

  background-color: #000;
}
.block{
  /* border-right: 1px solid cyan; */
  width: 100%;
  padding: 1rem;
}
.block .a:hover{
  color: #fff;
}
.block:nth-child(4){
border: none;
}


.serviceBox:hover .servicesBlock {
  display: block; 
  opacity: 1;
  
}
@media(max-width:768px){
  .block{
    border-right: none;
    
  }
  
}
.num{
  display: initial;
}
@media(max-width:768px){
  .num{
    display: none;
  }
}
